.introduction p {
  margin: .5em;
}
.pic {
  width: 70px;
  margin: 10px;
}
.hamburger {
  font-size: larger;
}
.hl {
  background: #ffe4c4
}
#index, #content {
  font-family: 'Noto Sans Japanese', sans-serif;
  height: 100%;
}

.kanji {
  font-size: 4em;
}