<md-content>
    <md-card layout-margin layout-padding>
        <form class="queryForm">
            <md-input-container>
                <label>query type</label>
                <input ng-model="type" type="text" size="500">
            </md-input-container>

            <md-button class="md-raised" ng-click="newPager()">Click to make test call</md-button>
        </form>
    </md-card>

    <md-list>
        <md-items ng-repeat="item in pager.collection">
            <md-item-content>
                <div class="md-tile-left">
                    <img class="pic" alt="{{::item.creator.name}}" ng-src="{{::item.siteUrl + item.ideaImagePath}}">
                </div>
                <div class="md-tile-content">
                    <h3>{{::item.ideaTitle}}</h3>
                    <h4>{{::item.creatorName}}</h4>
                    <p>{{::item.formattedCreatedTimestamp}}</p>
                </div>
            </md-item-content>
            <md-divider></md-divider>
        </md-items>
    </md-list>

    <!-- More results button -->
    <md-card ng-show="pager && !pager.finished">
        <md-button class="md-raised" ng-click="pager.nextPage()">Load more results</md-button>
    </md-card>    

</md-content>