<md-content>

    <md-list>
        <md-items ng-repeat="item in pager.collection">
            <md-item-content ng-click="go(item.ideaId)">
                <div class="md-tile-left">
                    <img class="pic" alt="{{::item.creator.name}}" ng-src="{{::item.siteUrl + item.ideaImagePath}}">
                </div>
                <div class="md-tile-content">
                    <h3>{{::item.ideaTitle}}</h3>
                    <h4>{{::item.creatorName}}</h4>
                    <p>{{::item.unformattedCreatedTimestamp | date:'medium'}}</p>
                </div>
            </md-item-content>
            <md-divider></md-divider>
        </md-items>
    </md-list>

    <!-- More results button -->
    <md-card ng-show="pager && !pager.finished">
        <md-button class="md-raised" ng-click="pager.nextPage()">Load more results</md-button>
    </md-card>    

</md-content>